/* the style for the nav */
/* * {
  box-sizing: border-box;
} */

body {
	margin: 0;
	background-color:  #000000;
	color: white;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #000000;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

/* the site identity */

.header{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
  	text-align: left;
	padding: 0 0 10px 10px;
}

/* the style for the gallery */
.gallery{
	margin: 0;
}
.gallery img{
	padding:15px;
	width:100%;
}
.gallery img:hover{
	filter: grayscale(100%);

.row{
	float: left;
	width: 33.33%;
	padding: 0;
	height: 300px;
}

/* .column img{
	margin-top: 8px;
	vertical-align: top;
	width: 100%;
}

