/* the style for the nav */
body {
	margin: 0;
	background-color:  #000000;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #000000;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

/* the site identity */
.div{
	margin:5px;
}

.header{
	color: white;
}

h1 {
	text-align: left;
	padding: 0;
	font-size: 32px;
}

h2 {
  	text-align: left;
	padding: 0;
}

h3 {
	text-align: right;
	padding: 0 20px 20px 0;
	
/* the style for the gallery */
* {
  box-sizing: border-box;
}

.img-container {
	float: left;
	Width: 460px;
	max-width: 33.33%;
	padding: 10px;
	height:auto;
	vertical-align:top;
}

*, *:before, *:after {
    box-sizing: inherit;
}

div.gallery img:hover{
	filter: grayscale(100%);
}

/* Style the container/contact section */
* {
  box-sizing: border-box;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

